@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

* {
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
header{
    
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}
header.fixed{
    background-color: #000000;
    position: fixed;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}
header.fixed .brand-name a{
    
}
header .brand-name a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
    
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
.home{
    min-height: 100vh;
    
    background-color: #000000;
    background-size: cover;
    background-position: center;
    padding: 15px;
    
    
}
.home .full-screen{
    
    min-height: 100vh;
}

.home .home-content{
    
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    
    flex:0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}
.home .home-content .block h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
    margin:0;
    padding: 0;
    
}
.home .home-content .block h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}    
.home .home-content .block .cv-btn a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
}
.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}

.about-me{
    padding: 100px 15px;
    background-color: #ffffff;
}
.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.about-me .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    
}
.about-me .section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}
.text-uppercase{
    text-transform: uppercase!important;
}
.about-me .section-title p.small{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img{
    flex:0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img{
    width: 100%;
    height: 70vh;
    display: block;
    
}
.about-me .about-content .text{
    flex:0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}
.about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #000000;
}
.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}
.about-me .about-content .text .info{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}   
.about-me .about-content .text .info .list{
    
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}
.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}
.about-me .about-content .text .info .list p{
    margin: 0;
    font-size: 15px;
    font-weight: 520;
    line-height: 15px;
    color: #838383;
    margin: 0 0 20px;
}
.about-me .about-content .text .social-links{
    padding-top: 25px;
    
}
.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 25px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fa{
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover .fa{
    color:#000000;
}
/*end of about*/

/*start of professional skills*/
.pskill{
    padding: 100px 15px;
    background-color: #f5f8fd;
    
}
.pskill .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.pskill .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    align-items: center;
}
.pskill .section-title h1:before{
    content: '';
    left: 30%;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.container1{
	position: relative;
	width: 1140px;
	height: 280px;
	margin: 50px auto;
	margin-top: 5px;
	
	
}

.container1 .box{
	position:relative;
	width: calc(400px - 50px);
	height: calc(300px - 50px);
	background: #000;
	float: left;
	margin: 15px;
	box-sizing:border-box;
	overflow: hidden;
	border-radius: 10px;
}
.container1 .box .text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: grey;
	transition: 0.5s;
	z-index:1;
}

.container1 .box:hover .text{
	top: 20px;
	right: calc(50% -40px);
	width: 80px;
	height: 80px;
	border-radius: 70%;
}
.container1 .box .text .word{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	transition: 0.5s;
	color: black;
}
.container1 .box:hover .text .word{
	font-size:15px;
}
.container1 .box .content{
	position: absolute;
	top: 60px;
	height: calc(100% - 60px);
	text-align: center;
	padding:5px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}
.container1 .box:hover .content{
	top:100px;
	opacity: 1;
}
.container1 .box .content h5{
	margin:0;
	padding: 0;
	color: #fff;
	font-size:20px;
}

.container1 .box .content p{
	margin:0;
	padding: 0;
	color: #fff;
	
}
/*end pskill*/

/*skills*/
.skills{
    padding: 100px 15px;
    background-color: #ffffff;
}
.skills .skills-content{
    padding-right: 40px;
    max-width: 70%;
}

.skills .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.skills .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    
}
.skills .section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.align-items-center{
    align-items: center;
}
.skills .img img{
    width: 70vh;
    display:block;
    height: 80vh;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.skills .skills-content .section-title p{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #838383;
    margin: 15 0 20px;
}
.skills .skills-content .skills-box{
    
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.skills .skills-content .skills-box h6{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;
}
.skills .skills-content .skills-box .skill-bar{
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}
.skills .skills-content .skills-box .skill-bar .skill-bar-in{
    background-color: #febd01;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skills-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: 10px;
}

/*hobbies*/
.hobby{
    padding: 100px 15px;
    background-color: #f5f8fd;
    
}
.hobby .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.hobby .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    align-items: center;
}
.hobby .section-title h1:before{
    content: '';
    left: 30%;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}
.hobby .filter-buttons{
    
    flex: 0 0 100%;
    max-width: 100%;
}
.hobby .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
.hobby .filter-buttons ul li{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor:pointer;
    padding-bottom: 10px;
}
.hobby .filter-buttons ul li.active{
    color: #febd01;
    border-bottom: 2px solid #febd01;
}
.hobby .filter-buttons{
    margin-bottom: 25px;
}
.hobby .hobby-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hobby .hobby-gallery .item{
    
    flex: 0 0 calc(33.33% - 8px);
    max-width: calc(33.33% - 8px);
    margin-bottom: 16px;
    position: relative;
}
.hobby .hobby-gallery .item img{
    width: 100%;
    display: block;
    height: 100%;
    
}
.hobby .hobby-gallery .item .overlay{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    z-index:10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    opacity:0;
    transition: all .5s ease;
}
.hobby .hobby-gallery .item:hover .overlay{
    opacity:1;

}
.hobby .hobby-gallery .item .overlay .fa{
    height:50px;
    width: 50px;
    
    width: 50px;
    background-color: #febd01;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}
.hobby .hobby-gallery .item:hover .overlay .fa{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
    
}
@keywords galleryIcon{
    0%{
        transform: translateY(-20px);opacity:0;
    }
    100%{
        transform: translateY(0);opacity:1;
    }
}
.hobby .hobby-gallery .item .overlay h4{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    color: black;
    
}
.hobby .hobby-gallery .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
    
}
@keywords galleryText{
    0%{
        transform: translateY(20px);opacity:0;
    }
    100%{
        transform: translateY(0);opacity:1;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding-right: 10px;
    padding-left: 110px;
  }
  .hobbyy .section-title{
    flex: 0 0 100%;
    
    margin-bottom: 20px;
    margin-left: -80px;
    
    text-align: center;
    
}
  .hobbyy .section-title h1{
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0 0 10px;
    margin-left: 120px;
    
    position: relative;
    
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }



/*contact*/
.contact-us{
    padding: 100px 15px;
    background-color: #f5f8fd;
    margin-top: 40px;
    
}
.contact-us .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.contact-us .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    align-items: center;
}
.contact-us .section-title h1:before{
    content: '';
    left: 30%;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.contact-us .contact-form{
    background-color: #ffffff;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid #eeeeee;
    
}
.contact-us .contact-form .text{
    padding-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .text h2{
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    color:#838383;
}
.contact-us .contact-form .space-between{
    justify-content: space-between;
}
    
.contact-us .contact-form .col-6{
    
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12{
    
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.contact-us .contact-form textarea.form-control{
    height: 140px;

}
.contact-us .contact-form .form-control::placeholder{
    color: #838383;
}
.contact-us .contact-form .button{
    padding-left: 900px;
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .button a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #febd01;
    transition: all .5s ease;
    box-shadow: 0px 0px 15px #e8e8e8;
}
.contact-us .contact-form .button a:hover{
    background-color: #000000;
    color: #ffffff;
}
/*end contact*/

footer{
    padding: 80px 15px;
    background-color: #0c0c17;
}
footer .logo{
    
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 900;
}
footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 15px;
}
footer .social a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s  ease;
}
footer .social a:hover{
    color: #ffffff;
}

.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

@media(max-width: 991px){
    .home .home-content .block h1{
        font-size: 50px;
    }
}
@media(max-width: 767px){
    .about-me .about-content .text{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .about-me .about-content .img{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container1{
        
        max-width: 80%
        flex: 0 0 80%;
    }
    
    .container1 .box{
        
        max-width: 80%;
        flex: 0 0 80%;
    }
    .container{
        
        max-width: 80%
        flex: 0 0 80%;
    }
    
    .container .box{
        
        max-width: 80%;
        flex: 0 0 80%;
        
        
    }
    
    
    
    .skills .skills-content{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }    
    .skills .img{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px;
        
    }
    .hobby .hobby-gallery .item{
    
        flex: 0 0 50%;
        max-width: 100%;
        padding: 5px;
        position: relative;
    }
    .hobby .hobby-gallery .item img{
       max-width: 100%;
       flex: 0 0 50%;
       
    }

    .contact-us .contact-form{
        padding: 40px 20px;
    }
    .contact-us .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media(max-width: 500px){
    .home .home-content .block h1{
        font-size: 30px;
    }
    .home .home-content .block h3{
        font-size: 20px;
    }
    .home .home-content .block h6{
        font-size: 10px;
    }
    .home .home-content .block {
        padding-left: 20px;
    }
    .hobby .hobby-gallery .item{
    
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-content .text .info .list p{
        flex: 0 0 100%;
    }
}
